body {font-family: system-ui, Arial}
.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "viz1 viz3 viz5"
        "viz2 viz4 viz6"
        "viz7 viz8 viz9"
        "viz10 viz11 viz12";
    width: 100%;
    max-width: 1440px;
}

.visualization {
    margin-bottom: 10%;
}

#vis1 {
    grid-area: viz1;
}

#vis2 {
    grid-area: viz2;
}

#vis3 {
    grid-area: viz3;
}

#vis4 {
    grid-area: viz4;
}

#vis5 {
    grid-area: viz5;
}

#vis6 {
    grid-area: viz6;
}

#vis7 {
    grid-area: viz7;
}

#vis8 {
    grid-area: viz8;
}

#vis9 {
    grid-area: viz9;
}

#vis10 {
    grid-area: viz10;
}

#vis11 {
    grid-area: viz11;
}

#vis12 {
    grid-area: viz12;
}

.navbar {
    overflow: hidden;
    background-color: #CE1141;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
